@{
    ViewData["Title"] = "GradesList";

}
<table class="table table-bordered table-stripped">
    @foreach (Course c in @ViewBag.Course)
    {
        @if (c.Professors.username == @ViewBag.Username)
        {
            <h2>
                    @c.courseTitle
            </h2>
            <h4>
                Semester @c.courseSemester
            </h4>
        }
    <thead>
            <tr>
                <th>
                    Student
                </th>
                <th align="center">
                    Grade
                </th>
            </tr> 
    </thead>
    <tbody>
                    
                
    </tbody>
    }
</table>