
*{
    font-family: 'Nirmala UI';
    margin:0;
}
.page {
    display: flex;
    flex-direction: row;
    display: flex;
    flex-direction: row;
    height: 100vh;
    background-color: #f4f6eb;
}

.sidenav {
    height: 100%;
    width: 210px;
    position: fixed;
    background-color: white;
    padding-top: 30px;
    display: flex;
    flex-direction: column;
    border-right: 2px solid #8FBEA9;
    z-index: 1;
}

.profile_image {
    align-self: center;

}   
    .profile_image img{
        width:150px;
        height:150px;
    }

    .options{
        margin-top:30%;
    }

.sidenav a, .dropdown-btn {
    padding: 6px 8px 6px 10px;
    text-decoration: none;
    font-size: 22px;
    color: #94a673;
    display: block;
    border: none;
    background: none;
    width: 100%;
    text-align: left;
    cursor: pointer;
    outline: none;
    font-weight: 500;
}
    .sidenav a img,.dropdown-btn img{
        width:25px;
        height:25px;
        float:left;
        padding-right:10px;
    }
    .sidenav .logout{
        position:fixed;
        bottom:2%;
        left:40px;
        align-self:center;
    }

        .sidenav a:hover, .dropdown-btn:hover {
            color: #f3df66;
            transition: 0.3s;
            font-size:23px;
        }



.active {
    font-size: 23px;
    color: #94a673;
}

.dropdown-container {
    display: none;
    background-color: #f4f6eb;
    padding: 8px;
    border-radius: 25px 25px 25px 25px;
    margin: 0 10px 0 10px;
}
    
    .fa-caret-down {
        float: right;
        padding-right: 8px;
    }

























   
    /** {
    margin: 0;
    font-family: 'Nirmala UI';
}

.page {
    display: flex;
    flex-direction: row;
    min-height: 100vh;
    background-color: white;
}
picture {
    display:flex;
    margin-top:10%;
    justify-content:center;
}
img {
    display:flex;
    align-self:center;
    width:65px;
    height:65px;
}

.navigation_bar {
    
    position: fixed;
    height: 100%;
    background-color: #368081;
    width: 9%;
    border-radius: 25px 25px 25px 25px;
    margin: 10px 10px 10px 10px;
    overflow-x: hidden;
}

.menu {
    display: flex;
    flex-direction: column;
    top: 20%;
    position: relative;
    width: 100%;
    align-self: center;
}
.dropdown {
    color: white;
    text-align: left;
    padding: 14px;
    text-decoration: none;
    font-size: 22px;
    margin: 2px;
    outline: none;
    border: none;
    background-color: #368081;
    cursor: pointer ;
       display:block;
    transition: 0.2s;
}
.active {
    box-shadow: inset 840px 0 0 0 rgba(243, 223, 102, 1);
    color: white;
    border-radius: 10px;
    height: fit-content;
    margin: 2px;
    font-size: 25px;
}
.sub-menu {
    flex-direction:column;
    display:flex;
    visibility:hidden;
}

    .menu a {
        color: white;
        text-align: left;
        padding: 14px;
        text-decoration: none;
        font-size: 22px;
        margin: 2px;
        display:block;
        transition:0.2s;
    }

.link:hover {
    box-shadow: inset 840px 0 0 0 rgba(243, 223, 102, 1);
    color: white;
    border-radius: 15px;
    height: fit-content;
    margin: 2px;
    font-size: 25px;
    position:relative;
}
.dropdown:hover {
    color: white;
    border-radius: 15px;
    height: fit-content;
    margin: 2px;
    font-size: 25px;

}*/

