* {
    margin: 0;
    font-family: 'Nirmala UI';
}

.page {
    display: flex;
    flex-direction: row;
    min-height: 100vh;
    background-color: white;
}
.navigation_bar {
    display: flex;
    flex-direction: column;
    align-content: center;
    background-color: #368081;
    width: 7%;
    border-radius: 25px 25px 25px 25px;
    margin: 10px 10px 10px 10px;
}
    .menu{
        display:flex;
        flex-direction:column;
        top:30%;
        margin:0.3rem;
        position:relative;
        width:100%;
        align-self:center;

    }
        .menu a {
            color: white;
            text-align: left;
            padding: 14px;
            text-decoration: none;
            font-size: 22px;
            margin:2px;
        }
        .link:hover {
            box-shadow: inset 840px 0 0 0 rgba(243, 223, 102, 1);
            color: white;
            border-radius:25px;
            height: fit-content;
            margin:2px;
            font-size:25px;
    
        }
