

.main_content {
    height: 100%;
    width: 88%;
    position: fixed;
    left: 240px;
    display: flex;
    padding: 10px;
    display: flex;
    flex-direction: column;
}
.title {
    position: fixed;
    margin-top:1%;
    left: 35%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
}
    .form h2 {
        color: #f3df66;
        font-size:50px;
    }
.form {
    background-color: white;
    width: 45%;
    height: 80%;
    border-radius: 25px;
    position: fixed;
    top: 51%;
    left: 50%;
    transform: translate(-50%, -50%);
    display:flex;
    flex-direction:column;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 5rem;
    padding: 0 5rem;
    grid-column: 1/2;
    grid-row: 1/2;
}
form{
    display:flex;
    flex-direction:column;
    justify-content:space-between;
    width:100%;
}
.form-group {
    width: 94%;
    height: 36px;
    margin: 2%;
    border-radius: 55px;
    display: flex;
    flex-direction:column;
    grid-template-columns: 30% 80%;
    padding: 0 0.4rem;
    position: relative;
}

.form-control {
    text-align: center;
    width: 100%;
    height: 30px;
    text-align: left;
    background: none;
    border:none;
    border-bottom: 2px solid#94a673 ;
    outline: none;
    line-height: 2px;
    font-weight: 200;
    font-size: 1.1rem;
    color: #333;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;
    margin-top: 1%;
    color:dimgray
}
.btn {
    width: 94%;
    height: 40px;
    outline: none;
    border: none;
    border-radius: 25px;
    background-color: #368081;
    color: white;
    font-weight: 500;
    font-size: large;
    margin: 10px 0;
    transition: all 0.5s;
    margin: 2%;
}

    .btn:hover {
        background-color: #94a673;
        cursor: pointer;
    }